.image_background {
/* Adding a background for website and blue color overlay */
    background:
        linear-gradient(rgba(0, 51, 153, .5), rgba(0, 51, 153, .5)),    /* Blue translucent overlay for the background image */
        url('../images/reinhardt-background.jpg') no-repeat center fixed;
    background-size: cover;
    color:white;    /* White text color */
}

/* Makes text bigger */
.text-large {
    font-size: 400%;
}

/* Text box to make text stand out on the page */
.text-box {
    border: 2px solid rgb(255, 217, 0);
    padding: 15px;
    border-radius: 10px;
    color: white;
    width: fit-content;     /* Forms box around text */
}

/* Yellow clickable blocks that are buttons to redirect to specific pages */
.block-button {
    /* Flex box setup */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    
    /* Size of the button */
    width: 400px;
    height: 275px;

    /* Setting up border */
    background-color: gold;
    border-radius: 12px;
    padding: 20px;

    font-size: 30px;
    cursor: pointer;
    text-align: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
}